.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  // vertical-align: text-top;
  fill: currentColor;
}

.social {
  padding-top: 0;
  padding-bottom: 0;
  svg {
    vertical-align: text-bottom;
    width: 30px;
    height: 30px;
    fill: currentColor;
  }
  @include hover-focus {
    transform: scale(1.25);
  }
}

.no-color-link {
  color: $body-color;
  text-decoration: underline;
}

.gray-500 {
  color: $gray-500;
}
.gray-400 {
  color: $gray-400;
}

.bg-theme-dark {
  background-color: theme-color('dark');
}
.bg-theme-lightt {
  background-color: theme-color('lightt');
}
.bg-theme-lighter {
  background-color: theme-color('lighter');
}

.box-shadow-lighter {
  box-shadow: inset 0px -58px 64px -81px darken(theme-color('lighter'), 20%);
}

// extends bootstrap's sizing utilities w-25, w-50, w-75, width: 100
// to be responsive: w-md-50, w-lg-100 etc...
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }    
  }
}
